# Basic mappings
alias k='tree'
alias ltr='ls -ltr'
alias r='screen -D -R'
alias l='ls -lh'
alias ll='ls -lah'
alias c='clear'
# Use gcc instead of Clang when calling gcc
alias gcc='gcc-6'
alias g++='g++-6'
alias vim='/Applications/MacVim.app/Contents/MacOS/Vim'
